:root {
    --color-1: #21265e;
    --accent-1: #777ecf;
    --accent-1a: #8c93e2;
    --accent-1b: #b0b7ff;
    --color-2: #176050;
    --accent-2: #48ab97;
    --accent-2a: #7adbc8;
    --color-3: #d8315b;
    --accent-3: #ffc4d3;
  
    --default-shadow: 8px 8px 8px #21265e9c;
  }
  a {
    color: white;
    font-weight: 700;
    text-decoration: none;
  }

  a.nav-link:hover {
    cursor: pointer;
    background-color: var(--accent-2a);
    color: var(--color-1);
  }
  .active a {
    background-color: var(--accent-1);
  }
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-family: sans-serif;
    background: linear-gradient(
      180deg,
      rgba(33, 38, 94, 1) 5%,
      rgba(119, 126, 207, 1) 34%,
      rgba(176, 183, 255, 1) 100%
    );
  }
  h1 {
    text-align: center;
    color: var(--color-1);
    font-size: 40px;
    font-weight: 900;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  h2 {
    text-align: center;
    color: var(--accent-2a);
    text-shadow: 1px 1px 1px #21265e;
    display: block;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0px;
    max-width: 95%;
    padding-top: 0;
    font-style: italic;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  h3 {
    text-align: center;
    margin: 0;
    font-weight: 800;
    color: var(--color-1);
  }
  p {
    font-size:18px;
  }
  .app-link {
    font-weight: 300;
    color: white;
    background-color: var(--accent-1);
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--accent-1a);
    padding: 10px 10px;
    margin-left:30px;
    max-width: 200px;
    margin-bottom: 5px;
    box-shadow: 6px 6px 5px #21265e9c;
  }
  .app-link:hover {
    color: var(--accent-2a);
  }
  .bg-blue {
    background-color: #777ecf2c;
  }
  .bg-green {
    background-color: #7adbc842;
  }
  .bg-pink {
    background-color: #fca5bb28;
  }
  .bg-theme-blue {
    background-color: var(--color-1);
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .btn-toolbar {
    display: flex;
    justify-content: center;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
    .clock-img {
    box-shadow: 6px 6px 6px #21265e;
  }
  .contact {
    display: block;
    text-align: center;
    padding-left: 0px;
    margin-left: 0;
  }
  .contact-button {
    display: block;
    max-width: 160px;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: var(--accent-2);
    padding: 10px 20px;
    border-style: solid;
    border-color: var(--accent-1);
    border-width: 3px;
    border-radius: 8px;
    box-shadow: 6px 6px 5px #21265e9c;
    text-decoration: none;
  }
  .contact-button:hover {
    background-color: var(--accent-2a);
    color: var(--color-1);
  }
  .contact-label {
    color: var(--color-1);
    font-weight: 650;
  }
  .icons {
    max-height: 380px;
  }
  .LI {
    color: var(--accent-1);
    font-weight: 700;
  }
  .page-content {
    display: block;
    max-width: 100%;
    background-color: white;
    border-style: solid;
    border-width: 15px;
    border-color: var(--accent-2);
    margin-top: 70px;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  .profile-pic {
    display: flex;
    align-items: right;
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: var(--color-1);
    border-width: 14px;
    margin-right: 0;
  }
  .project-description {
    color: var(--color-1);
    font-size:18px;
    padding-left:30px;
  }
  .project-name {
    color: var(--color-1);
  }
  .projects-title {
    display: block;
    color: var(--accent-1a);
    text-shadow: 1px 1px 1px #21265e;
    justify-content: center;
    margin: 0 auto;
  }
  .next-img {
    box-shadow: 6px 6px 6px #21265e;
  }
  .weather-img {
    box-shadow: 6px 6px 6px #21265e;
  }

  
  #profile-info {
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
  }

  #subheading {
    font-weight: 700;
    font-size: 30px;
    padding-top: 15px;
  }
  #title-image {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    box-shadow: var(--default-shadow);
    border-radius: 8px;
    margin-top: 0px;
    padding-top: 0;
    text-shadow: 2px 2px 2px #21265e;
  }

  
  #home-img {
    margin: 0;
    margin-top: 20px;
    max-height: 380px;
    border-style: solid;
    border-width: 10px;
    border-radius: 6px;
    border-color: var(--color-1);
  }
  #home-img-container {
    max-width: 100%;
    margin:0;
    padding:0;
  }
  #logo {
    max-height: 55px;
    margin-bottom: 0;
    margin-left: 0;
    
    border-style: solid;
    border-width: 4px;
    border-color: var(--accent-1);
    border-radius: 4px;
  }
  #logo:hover {
    background-color: var(--color-1);
  }
  #social-icon {
    max-height: 30px;
    margin-bottom: 0px;
  }
  #linkedin {
    max-height: 34px;
    margin-bottom: 0px;
  }
  #email-address {
    color: var(--accent-1);
    font-weight: 700;
  }
  #email-address:hover {
    background-color: var(--accent-3a);
    cursor: pointer;
  }
  #email-icon {
    height: 31px;
    margin-left: 35px;
  }
  #find-me {
    color:white;
    margin-bottom:0;
    padding-bottom:0;
    padding-left:20px;
    margin-left: 30px;
  }
  #LI {
    color: var(--accent-1);
    font-weight: 700;
  }
  #LI:hover {
    background-color: var(--accent-3a);
    cursor: pointer;
  }
  #LI-icon {
    height: 25px;
    margin-left: 37px;
  }
  #title-image {
    display: block;
    justify-content: center;
    box-shadow: var(--default-shadow);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-1);
    margin: 0 auto;
    margin-top: 0px;
    max-width: 65%;
  }

  